@using MiniFootballApp.Core.Models.Team
@inject IPlayerService playerService;
@inject ITeamService teamService;

@model TeamServiceModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.LogoUrl" alt="Team Image">
        <div class="card-body text-center">
            <h4>@Model.Name</h4>
            <h6>@Model.CapitanName</h6>
            <a asp-area="" asp-controller="Team" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (await playerService.PlayerIsInTeamAsync(User.Id()) == false
            && await playerService.IsPlayerAsync(User.Id())
            && await playerService.PlayerIsCaptainAsync(User.Id()) == false)
            {
                <a asp-area="" asp-action="Join" asp-route-id="@Model.Id"
                   class="btn btn-success">Join</a>
            }
            @if (await teamService.TeamHasForCaptain(Model.Id, User.Id()) || User.IsAdmin())
            {
                <a asp-area="" asp-action="Edit" asp-route-id="@Model.Id"
                   asp-controller="Team"
                   class="btn btn-success">Edit</a>

                <a asp-area="" asp-action="Delete" asp-route-id="@Model.Id"
                   asp-controller="Team"
                   class="btn btn-success">Delete</a>
            }
        </div>
    </div>
</div>